h1{
    background-color: blueviolet;
    width: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: plum;
    border-radius: 40px;

    padding: 20px;

    margin: 20px auto 20px auto;


    outline-width: 5px;
    outline-style: dashed;
    outline-color: rgb(228, 13, 228);

    text-align: center;
}

figcaption{
    background-color: plum;
    border-width: 2px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 100px;
    width: 30%;

    text-align: center;
    display: block;
    margin: 20px auto;
  
    
}

img {
  display: block;
  margin: auto;
  outline: solid plum;
border:20px blueviolet;

}










